body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}

body,
.playlist {
  min-height: 400px;
}

.d-none {
  display: none !important;
}

@font-face {
  font-family: "Kanit";
  src: url(./../static/fonts/Kanit-Light.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Kanit Medium";
  src: url(./../static/fonts/Kanit-Medium.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "goudy";
  src: url(./../static/fonts/goudy.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}
.grid-1x1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  align-items: center;
  justify-items: center;
}

.grid-2x1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.grid-3x1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.grid-4x1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
}

.grid-5x1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
}

.grid-autox1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(50px, 1fr);
  align-items: center;
  justify-items: center;
}

.grid-1x2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  align-items: center;
  justify-items: center;
}

.grid-2x2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.grid-3x2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.grid-4x2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
}

.grid-5x2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
}

.grid-autox2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(50px, 1fr);
  align-items: center;
  justify-items: center;
}

.grid-1x3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  align-items: center;
  justify-items: center;
}

.grid-2x3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.grid-3x3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.grid-4x3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
}

.grid-5x3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
}

.grid-autox3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(50px, 1fr);
  align-items: center;
  justify-items: center;
}

.grid-1x4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  align-items: center;
  justify-items: center;
}

.grid-2x4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.grid-3x4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.grid-4x4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
}

.grid-5x4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
}

.grid-autox4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(50px, 1fr);
  align-items: center;
  justify-items: center;
}

.grid-1x5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  align-items: center;
  justify-items: center;
}

.grid-2x5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.grid-3x5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.grid-4x5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
}

.grid-5x5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
}

.grid-autox5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(50px, 1fr);
  align-items: center;
  justify-items: center;
}

body {
  font-family: "Kanit";
  letter-spacing: 2px;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(255, 0, 25, 0) 50%, #ff0019), linear-gradient(to bottom, rgba(255, 0, 25, 0) 80%, #ff0019, #ff0019), url("./../static/images/cover.jpg");
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.container {
  padding: 0.3em 1em;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.3em;
  }
}
.controls {
  margin-bottom: 2em;
}

.slider {
  display: flex;
  align-items: center;
}

.slider__input {
  flex-grow: 1;
  width: 100%;
  -webkit-appearance: none;
  background: transparent;
  outline: none !important;
}
.slider__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  background: #ff0019;
  box-shadow: 0 0 2px 0 #555;
  border: 0.24rem solid #fff;
  transform: translateY(-50%);
  margin-top: 0.24rem;
}
.slider__input::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: #fff;
  border-radius: 2rem;
  height: 0.4rem;
  cursor: pointer;
}
.slider__input::-moz-range-thumb {
  -moz-appearance: none;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  background: #ff0019;
  box-shadow: 0 0 2px 0 #555;
  border: 0.24rem solid #fff;
  margin-top: 0.24rem;
}
.slider__input::-moz-range-track {
  -moz-appearance: none;
  box-shadow: none;
  border: none;
  background: #fff;
  border-radius: 2rem;
  height: 0.4rem;
  cursor: pointer;
}

.slider__label-start,
.slider__label-end {
  margin: 0 1em;
  font-weight: 600;
}

.grid {
  display: grid;
}

.grid-1x5 {
  -moz-column-gap: 1em;
       column-gap: 1em;
}

.icon {
  letter-spacing: normal;
  fill: #fff;
  width: 2em;
  height: 2em;
  transition: transform 40ms ease-in;
}

.icon.animate:hover {
  transform: scale(1.15);
}

.playlist__toggler {
  z-index: 2;
}

.playlist__toggler,
.playlist__toggler-close,
.playback,
.play,
.pause {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}

.play,
.pause {
  background-color: #ff0019;
  padding: 0.7rem;
  border-radius: 50%;
  border: 0.7rem solid #f03561;
  display: flex;
  justify-content: center;
  align-items: center;
}

.song-info {
  position: relative;
  font-family: "goudy";
  color: #ebcdcf;
  font-weight: 600;
  font-size: 1.2em;
  overflow: hidden;
  display: flex;
  justify-content: right;
  text-align: right;
}
.song-info--container {
  display: inline-block;
  animation: 5s linear 0s infinite right-to-left;
  animation-play-state: running;
}

@keyframes right-to-left {
  0% {
    transform: translateX(50vw);
  }
  100% {
    transform: translateX(-100vw);
  }
}
@media screen and (min-width: 768px) {
  .controls {
    margin-bottom: 0.5em;
  }
  .song-info {
    font-size: 1.5em;
  }
  .song-info--container {
    animation-duration: 10s;
  }
}
.playlist {
  display: none;
  opacity: 0;
  font-family: "Kanit Medium";
  font-size: 0.8em;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  background-color: rgba(255, 0, 25, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 3;
  transition: opacity 5s ease-in;
}
.playlist__heading {
  grid-column: 2/3;
  padding: 0.2rem 1.3rem;
  background-color: #fff;
  border-radius: 20px;
  color: #ff0019;
  margin: 0.2em;
}
.playlist__toggler-close {
  grid-column: 3/4;
}

.playlist.active {
  display: block;
  opacity: 1;
  height: 100vh;
}

.songs-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 75%;
}

.song {
  --line-width: 1.5px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: nowrap;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  padding-bottom: calc(var(--line-width) + 2px);
  margin-bottom: 1rem;
}
.song .icon {
  font-size: 0.7em;
}
.song__icon {
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.song__details {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  position: relative;
}
.song__artist {
  font-size: 1.2rem;
}
.song__name {
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 45%;
  vertical-align: bottom;
}
.song .genre {
  padding: 0.2rem 0.3rem;
  background-color: #f03561;
  font-weight: 700;
  border-radius: 7px;
}
.song__duration {
  display: inline-flex;
  align-items: center;
  gap: 0.3em;
  font-weight: 800;
}
.song__duration .icon {
  height: calc(1em + 2px);
}

.song {
  transition-property: transform;
  transition-duration: 100ms;
  transition-timing-function: linear;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}
.song:hover {
  transform: scale(0.9);
}

.song__details::after {
  content: "";
  position: absolute;
  height: var(--line-width);
  width: 100%;
  background-color: #fff;
  top: calc(100% + var(--line-width));
  left: 0;
}

@media screen and (min-width: 768px) {
  .playlist.active {
    width: 50vw;
    height: 100vh;
    z-index: 1;
  }
  .songs-list {
    margin-bottom: 20%;
  }
  .playlist__toggler-close {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */