<div class="controls">
  <div class="slider container">
    <span class="slider__label-start">0:00 </span>
    <input
      type="range"
      name="music-slider"
      title="slider"
      class="slider__input"
      min="0"
      max="30"
      list="values"
      step="1"
    />
    <span class="slider__label-end"> 1:30 </span>
  </div>

  <div class="1col 4row grid grid-1x5 container">
    <span class="playlist__toggler">
      <svg class="icon">
        <use xlink:href="./static/icons/sprites.svg#playlist"></use>
      </svg>
    </span>
    <span class="playback">
      <svg class="icon playback--backward">
        <use xlink:href="./static/icons/sprites.svg#playback"></use>
      </svg>
    </span>
    <span class="play">
      <svg class="icon">
        <use xlink:href="./static/icons/sprites.svg#play"></use>
      </svg>
    </span>
    <span class="playback">
      <svg class="icon playback--forward">
        <use xlink:href="./static/icons/sprites.svg#playback--forward"></use>
      </svg>
    </span>
  </div>
</div>
